<div class="login-container">
  <h2>Bejelentkezés</h2>

  <!-- 💡 Hibák megjelenítése -->
  <div *ngIf="loginError" class="error-message">
    {{ loginError }}
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="username" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <div class="btn-group">
      <button mat-raised-button color="accent" type="button" (click)="onRegister()">Regisztráció</button>
      <button mat-raised-button color="primary" type="submit">Bejelentkezés</button>
    </div>
  </form>
</div>
