<div class="category-sidebar">
  <div id="companyName">BuildCompare</div>
  <div id="text">PC Builder</div>
  <button
    *ngFor="let category of categories"
    class="category-btn"
    (click)="selectCategory(category)">
    {{ category | uppercase }}
  </button>

  <button mat-raised-button color="primary" (click)="next()" [disabled]="currentIndex >= categories.length - 1">
    Next
  </button>

  <button mat-raised-button color="primary" (click)="onSave()">
    Build mentése
  </button>
</div>

